@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Delete Here</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to the beginning", "Index")